<p>Dear <%= name %>,</p>

<p>Welcome to our platform! We're excited to have you on board.</p>

<p>Here are your account details:</p>
<ul>
  <li><strong>Email:</strong> <%= email %></li>
</ul>

<p>Login to your account <a href="<%= loginUrl %>">here</a>.</p>

<p>If you have any questions, feel free to reach out to our support team.</p>

<p>Thank you for joining us!</p>
<p>NestJS Blog Team</p>